{% extends 'base.html.twig' %}

{% block page_heading %}
    <div class="row">
        <h2 class="sub-header  brand-txt">{% block heading %}  Предстоящие события  {% endblock %}</h2>
    </div>
{% endblock %}

{% block content %}
    {% if events %}
        <div class="event-list" id="accordion_" >
            {% for event in events %}
                <section class="event-list-item">
                    <header class="event-list-item__header">
                        <h4 class="event-list-item__name  collapsed"  data-toggle="collapse" data-target="#collapse_{{ event.id }}" aria-expanded="false" aria-controls="collapse_{{ event.id }}">
                            {{event.name}}
                        </h4>
                        <time class="event-list-item__date  collapsed"  data-toggle="collapse" data-target="#collapse_{{ event.id }}" aria-expanded="false" aria-controls="collapse_{{ event.id }}">
                            <span class="fa fa-angle-right " aria-hidden="true"></span>

                            {{ event.startDate|date("d.m.Y") }}
                            {% if event.startDate != event.endDate %}
                                - {{ event.endDate | date("d.m.Y") }}
                            {% endif %}
                        </time>
                        <div class="event-list-item__type  collapsed" data-toggle="collapse" data-target="#collapse_{{ event.id }}" aria-expanded="false" aria-controls="collapse_{{ event.id }}">
                            {{event.type.name}}
                        </div>
                        <div class="event-list-item__details">
                            <a class="btn btn-primary brand-bg" href="{{ path('show_event_by_slug', {'slug': event.slug}) }}">
                                <i class="event-list-item__details-icon fa fa-arrow-right" aria-hidden="true"></i>
                                <span class="event-list-item__details-text">Подробнее</span>
                            </a>
                        </div>
                    </header>
                    <article class="event-list-item__body  collapse"  id="collapse_{{ event.id }}" aria-labelledby="{{ event.id }}" data-parent="#accordion_">
                        <div class="event-list-item__intro">
                            {{event.description | raw }}
                        </div>
                    </article>
                </section>
            {% endfor %}
        </div>

        {{ include('pagination.html.twig', { 'pageCount' : pageCount, 'page' : page }) }}
    {% else %}
        Сейчас в этом разделе ничего нет.
    {% endif %}
{% endblock %}
