<article class="news-card">
    <header class="news-card__header">
        <h4 class="news-card__title">
            {{post.name}}
        </h4>
        <div class="news-card__badge">
            {% if constant('NEWS_TYPE', post) == 'event' %}
                анонс
            {% else %}
                {{  post.category }}
            {% endif %}
        </div>
    </header>
    <section class="news-card__body">
        <div class="news-card__thumb">
            {%  if post.picture %}
                {% set imgSrc = asset( 'images/pictures/' ~ post.picture) %}
            {% else %}
                {% set imgSrc = asset("images/rolendar-1.jpg") %}
            {% endif %}
            <img class="news-card__image" src="{{ imgSrc }}" alt="{{ post.name }}">
        </div>
        <div class="news-card__intro">
            {% autoescape false %}
                {{ post.description | striptags('<br><p>') | cut }}
            {% endautoescape %}
        </div>
    </section>
    <footer class="news-card__footer">
        <time class="news-card__date">
            Опубликовано: {{ post.publishDate|date("d/m/Y") }}
        </time>
        {% if constant('NEWS_TYPE', post) == 'event' %}
            {% set href = path('show_event_by_slug', {'slug': post.slug}) %}
        {% else %}
            {% set href = path('show_article_by_slug', {'slug': post.slug}) %}
        {% endif %}

        <a href="{{ href }}" class="news-card__btn  btn btn-primary brand-bg">Подробнее</a>
    </footer>
</article>
